.first {
  position: fixed;
  top:300px;
  left: -105px;
  width: 233px;
  height: 288px;
  background: transparent radial-gradient(closest-side at 50% 50%, #FFFFFF 0%, #000000 100%) 0% 0% no-repeat padding-box;
  opacity: 1;
}

.second {
  position: relative;
  top: 80px;
  left: 100px;
}

.btn4 {
  font-size: 30px;
  font: normal normal 400 24px/32px Segoe UI;
  background-color: transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  color: white;
}

.btn4:hover
{
  color: #BE5F5F ;
}

.abt {
  z-index: 100;
  position: fixed;
  top: 350px;
  left: 120px;
}

.exp {
  z-index: 100;
  position: fixed;
  top: 400px;
  left: 140px;
}

.proj {
  z-index: 100;
  position: fixed;
  top: 460px;
  left: 140px;
}

.cert {
  color: #BE5F5F ;
  z-index: 100;
  position: fixed;
  top: 520px;
  left: 110px;
}

.home-btn {
  font-size: 30px;
  font: normal normal 400 24px/32px Segoe UI;
  position: fixed;
  top: 830px;
  left: 50px;
  background-color: transparent;
  background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
  color: white;
}

.home-btn:hover
{
  color: #BE5F5F ;
}

body {
  color: white;
  background-color: black;

  font: normal normal bold 30px/40px Segoe UI;

}

a {
  position: relative;
  left: 800px;
  color: #BE5F5F;
  font-size: 25px;
  margin-left: 10px;
}

a:hover
{   text-decoration: none;
    color: white;
}

.pic{
  width: 200px;
  height: 200px;
  border: 5px solid #BE5F5F;
}

hr{
  position: relative;
  left: 15px;
  width: 200px;
  border: 2px solid white;
}

h2 {
  font-weight: bolder;
  position: relative;
  bottom: 40px;
  left: 20px;
}

p {
  font-weight: lighter;
  font-size: 20px;
  position: relative;
  bottom: 50px;
  left: 20px;
}

.scroller {
  transform: rotate(0deg);
  width: 450px;
  height: 300px;
  position: relative;
  bottom: 140px;
  left: 0px;
}

.slideup {
  transform: rotate(95deg);
  width: 450px;
  height: 300px;
  position: relative;
  top: 160px;
  left: 0px;

}

::-webkit-scrollbar {
    display: none;
}
